/*! debug.css | MIT License | zaydek.github.com/debug.css */
/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
} */

.debug-y {
  background-color: #ffff00a6;
}
.debug-b {
  background-color: #00ccffa6;
}
.debug-g {
  background-color: #88e60fa6;
}

.debug-p {
  background-color: #e60fb7a6;
}

figure {
  width: 900px;
  /* height: 768px; */
  border: 2px solid black;
  border-radius: 5px;
}

#game {
  visibility: hidden;
}

#o-head,
#p-pos0,
#p-pos0-hand,
#p-life1,
#p-life2 {
  visibility: visible;
}

/* #p-pos5-hand1,
#p-pos5-hand2,
#p-pos5-hand3 {
  visibility: visible;
  animation: toggle 750ms ease-in;
} */

/* #p-pos5-hand2 {
  animation-delay: 250ms;
}

#p-pos5-hand3 {
  animation-delay: 500ms;
} */

.test {
  animation: toggle 750ms;
}

/* #p-life0 {
  visibility: hidden;
} */

@keyframes toggle {
  from {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
