/*! debug.css | MIT License | zaydek.github.com/debug.css */
/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

  box-shadow: none !important;
} */
:root {
  --blue: #5e72e4;
  --bg-dark: #1e1e2f;
  --bg-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
}

.debug-y {
  background-color: #ffff00a6;
}
.debug-b {
  background-color: #00ccffa6;
}
.debug-g {
  background-color: #88e60fa6;
}

.debug-p {
  background-color: #e60fb7a6;
}

figure {
  background-color: #cbd5d5;
}

/* -- Below for svg styling --*/
#game {
  visibility: hidden;
}

#o-head,
#p-pos0,
#p-pos0-hand,
#p-life1,
#p-life2 {
  visibility: visible;
}
